.row {
	color: white;
	font-size: 0.9rem;
	margin-left: 20px;
}

.row__posters {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 30px;
}

.row__posters::-webkit-scrollbar {
	display: none;
}

.row__poster {
	object-fit: contain;
	width: 100%;
	max-height: 200px;
	transition: transform 450ms;
	margin-left: 10px;
	border-radius: 4px;
}

.row__item {
	cursor: pointer;
	object-fit: contain;
	width: 100%;
	transition: transform 450ms;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 4px;
}

.row__item:hover {
	transition: transform 450ms ease-in-out;
	transform: scale(1.3);
	opacity: 1;
}

.row__posters:focus-within .row__item,
.row__posters:focus,
.row__item {
	transform: translate(-25%);
	z-index: 1;
}

.row__item:focus ~ .row__item,
.row__item:hover ~ .row__item {
	transform: translateX(25%);
}
